[submodule "mtts/models/vocoder/VocGAN"]
	path = mtts/models/vocoder/VocGAN
	url = https://github.com/ranchlai/VocGAN.git
[submodule "mtts/models/vocoder/hifi_gan"]
	path = mtts/models/vocoder/hifi_gan
	url = https://github.com/ranchlai/hifi-gan.git
[submodule "mtts/models/vocoder/waveglow"]
	path = mtts/models/vocoder/waveglow
	url = https://github.com/ranchlai/waveglow.git
[submodule "mtts/models/vocoder/melgan"]
	path = mtts/models/vocoder/melgan
	url = https://github.com/ranchlai/melgan.git
